<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <button id="openmodal"> open modal </button>
    <div id="modal">
        <div id="modal-content">
            <button id="closemodal">&times;</button>
            <span>This is a simple model pop up</span>

        </div>

    </div>
    <script src="static/script.js"></script>
</body>
</html>